body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: burlywood;
}
img{
    height: 230px;
    width: 230PX;
    border-radius: 150px;
}
table{
    border-collapse: collapse;
    background-color: brown;
}
main{
    position: relative;
    left: 30%;
    height: 600px;
    width: 400px;
}
main h2{
    position: absolute;
    left: 0%;
    font-size: 45px;
    top: 5%;
}
main form{
    position: absolute;
    top:20%;
}
label{
    font-size: 30px;
}
input{
    height: 35px;
    width: 300px;
}
textarea{
    height: 100px;
    width: 300px;
}
#product{
    height: 40px;
    width: 300px;
}
#submit{
    height:40px ;
    width: 130px;
    border-color: brown;
}
#submit:hover{
    background-color: brown;
}